#video-player { background-color: black;}
	#video-player #video { width: 100%;}

	#video-player #controlls {}
		#video-player #controlls #progressbar { height: 10px; margin-top: -5px; background-color: black; cursor: pointer;}
			#video-player #controlls #progressbar #progressbar-completed { width: 50%; height: 10px; background-color: blue; float: left;}
			#video-player #controlls #progressbar #progressbar-remaining { width: 50%; height: 10px; background-color: gray; float: right;}

		#video-player #controlls #mainbar { background-color: black; padding: 5px; height: 32px;}
			#video-player #controlls #mainbar img { cursor: pointer;}

			#video-player #controlls #mainbar #right {float: right; width: 170px);}
				#video-player #controlls #mainbar #right img { margin-right: 10px;}
				#video-player #controlls #mainbar #right #fullscreen-icon { float: right; margin-left: 10px;}
				#video-player #controlls #mainbar #right #volume-bar { width: 100px; float: right; cursor: pointer;}
					#video-player #controlls #mainbar #right #volume-bar #soundbar { width: 80%; height: 10px; background-color: blue; margin-top: 11px; float: left;}
					#video-player #controlls #mainbar #right #volume-bar #soundbar-remaining { width: 20%; height: 10px; background-color: gray; margin-top: 11px; float: right;}